* {
    font-family: 'Open Sans';
}

#header {
    /*background-image: url('../img/header-bg.jpg');*/
    
   background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/header-bg.jpg');
   background-size: cover;
   background-attachment: fixed;
  background-position: center; 
    height: 75vh;
    
}

a.navbar-brand {
    color: red;
}

.jumbotron .container h1 {
    
    
    font-weight: 600;
    
   
}








